[submodule "lib/rhio-state-machine"]
	path = lib/rhio-state-machine
	url = git@github.com:Rhomb-io/rhio-state-machine.git
[submodule "lib/rhio-puf"]
	path = lib/rhio-puf
	url = git@github.com:Rhomb-io/rhio-puf.git
[submodule "lib/rhio-pinmap"]
	path = lib/rhio-pinmap
	url = git@github.com:Rhomb-io/rhio-pinmap.git
[submodule "lib/rhio-sync"]
	path = lib/rhio-sync
	url = git@github.com:Rhomb-io/rhio-sync.git
[submodule "lib/rhio-flash"]
	path = lib/rhio-flash
	url = git@github.com:Rhomb-io/rhio-flash.git
[submodule "rhio-ioexpander"]
	path = rhio-ioexpander
	url = git@gitlab.com:rhombio/rhio-libraries/rhio-ioexpander.git
